*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: url(project-2.jpg) no-repeat center center/cover;
    height: 100vh;
    position: relative;
}

#open-btn{
    position: absolute;
    top: 70%;
    left: 10%;
    width: 350px;
    height: 80px;
    font-size: 1.8rem;
    margin: 20px;
    background: transparent;
    color: #fff;
    border: solid 2px #fff;
    border-radius: 10px;
    padding: 5px;
    box-shadow: 0 0 2px #000;
    transition: .5s;
}
#open-btn:hover{
    background-color: #fff;
    color: #000;
}

#modal{
    background-color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* Another way to center content instead of using Flexbox or Grid */
    width: 200px;
    height: 100px;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 1.1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

    animation: animatemodal;
    animation-duration: .4s;
}

#close-btn{
    font-size: 3rem;
    font-weight: bold;
}
#close-btn{
    cursor: pointer;
    font-size: 3rem;
    color: #ff0000;
}

.modal-container{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    /* background-color: rgba(0, 0, 0, .2); */
}


/* Modal Animation Section */

@keyframes animatemodal{
    from{
        top: -300px;
        opacity: 0;
    }
    to{
        top: 50%;
        opacity: 1;
    }
}