*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    background: url(project-5.jpg) no-repeat center center/ cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

#add-task-container{
    width: 550px;
    padding: 20px 10px;
    background-color: #fff;
    border-radius: 20px;
    box-shadow: 0 0 3px;
    margin-bottom: 20px;
    display: flex;
}

input{
    flex: 5;
    margin-right: 10px;
    border-radius: 10px;
    font-size: 1.2rem;
    padding: 5px;
}

#add-task{
    flex: 1;
    font-size: 1.2rem;
    padding: 5px;
    background-color: #fff;
    color: green;
    border-radius: 10px;
    transition: .3s;
}
#add-task:hover{
    background-color: green;
    color: #fff;
}

/* Styling  for task which get added to to-do list */

.task{
    width: 100%;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 3px;
    padding: 5px;
    margin-bottom: 5px;

    display: flex;
    justify-content: space-between;

}
.task li{
    list-style: none;
    flex: 4;
    padding: 5px;
    font-size: 1.3rem;
    margin: 10px;
}

.task button{
    flex: 1;
    border-radius: 10px;
    background-color: #fff;
    cursor: pointer;
}

.task .checkTask{
    color: orange;
    margin-right: 5px;
    border: solid 2px orange;
    font-size: 1.5rem;
}
.task .checkTask:hover{
    background-color: orange;
    color: #fff;
}
.task .deleteTask{
    color: red;
    border: solid 2px red;
    font-size: 1.3rem;
}
.task .deleteTask:hover{
    background-color: red;
    color: #fff;
}